openapi: 3.0.2
servers:
  - url: http://traceit-04-i.comp.nus.edu.sg/tracer/api
info:
  title: ''
  version: ''
paths:
  /auth/user:
    get:
      operationId: retrieveUser
      description: ''
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
      tags:
      - auth
    put:
      operationId: updateUser
      description: ''
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
      tags:
      - auth
    patch:
      operationId: partialUpdateUser
      description: ''
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
      tags:
      - auth
  /contacts/upload/status:
    get:
      operationId: listGetUploadRequirementStatus
      description: ''
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items: {}
          description: ''
      tags:
      - contacts
  /contacts/status:
    get:
      operationId: listGetInfectionStatus
      description: ''
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items: {}
          description: ''
      tags:
      - contacts
  /contacts/user:
    get:
      operationId: retrieveUser
      description: ''
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
      tags:
      - contacts
    put:
      operationId: updateUser
      description: ''
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
      tags:
      - contacts
    patch:
      operationId: partialUpdateUser
      description: ''
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
      tags:
      - contacts
  /auth/register:
    post:
      operationId: createRegistration
      description: Return user response after a successful registration.
      parameters: []
      requestBody:
        content:
          application/json:
            schema: {}
          application/x-www-form-urlencoded:
            schema: {}
          multipart/form-data:
            schema: {}
      responses:
        '201':
          content:
            application/json:
              schema: {}
          description: ''
      tags:
      - auth
  /auth/login:
    post:
      operationId: createLogin
      description: Return user after login.
      parameters: []
      requestBody:
        content:
          application/json:
            schema: {}
          application/x-www-form-urlencoded:
            schema: {}
          multipart/form-data:
            schema: {}
      responses:
        '201':
          content:
            application/json:
              schema: {}
          description: ''
      tags:
      - auth
  /auth/logout:
    post:
      operationId: createLogout
      description: Validate token and save.
      parameters: []
      requestBody:
        content:
          application/json:
            schema: {}
          application/x-www-form-urlencoded:
            schema: {}
          multipart/form-data:
            schema: {}
      responses:
        '201':
          content:
            application/json:
              schema: {}
          description: ''
      tags:
      - auth
  /auth/totp:
    post:
      operationId: createValidateTOTP
      description: ''
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateTOTP'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ValidateTOTP'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ValidateTOTP'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateTOTP'
          description: ''
      tags:
      - auth
  /auth/totp/register:
    post:
      operationId: createRegisterTOTP
      description: Validate token and save.
      parameters: []
      requestBody:
        content:
          application/json:
            schema: {}
          application/x-www-form-urlencoded:
            schema: {}
          multipart/form-data:
            schema: {}
      responses:
        '201':
          content:
            application/json:
              schema: {}
          description: ''
      tags:
      - auth
  /auth/refresh:
    post:
      operationId: createTokenRefresh
      description: 'Takes a refresh type JSON web token and returns an access type
        JSON web

        token if the refresh token is valid.'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRefresh'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenRefresh'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TokenRefresh'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRefresh'
          description: ''
      tags:
      - auth
  /contacts/upload:
    post:
      operationId: createCloseContact
      description: ''
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloseContact'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CloseContact'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CloseContact'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseContact'
          description: ''
      tags:
      - contacts
  /buildings/register:
    post:
      operationId: createBuildingAccessRegister
      description: ''
      parameters: []
      requestBody:
        content:
          application/json:
            schema: {}
          application/x-www-form-urlencoded:
            schema: {}
          multipart/form-data:
            schema: {}
      responses:
        '201':
          content:
            application/json:
              schema: {}
          description: ''
      tags:
      - buildings
components:
  schemas:
    User:
      type: object
      properties:
        nric:
          type: string
        name:
          type: string
        dob:
          type: string
          format: date
        email:
          type: string
        phone:
          type: string
        gender:
          type: string
        address:
          type: string
        postal_code:
          type: string
      required:
      - nric
      - name
      - dob
      - phone
      - gender
      - address
      - postal_code
    ValidateTOTP:
      type: object
      properties:
        refresh:
          type: string
          readOnly: true
        access:
          type: string
          readOnly: true
        totp:
          type: string
          writeOnly: true
          pattern: ^\d{6}$
      required:
      - totp
    TokenRefresh:
      type: object
      properties:
        refresh:
          type: string
        access:
          type: string
          readOnly: true
      required:
      - refresh
    CloseContact:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        contact_timestamp:
          type: string
          format: date-time
        rssi:
          type: string
          format: decimal
          multipleOf: 0.01
          maximum: 100000000
          minimum: -100000000
        infected_user:
          type: string
        contacted_user:
          type: string
        infectionhistory:
          type: integer
      required:
      - contact_timestamp
      - rssi
      - infected_user
      - contacted_user
      - infectionhistory
