openapi: 3.0.2
servers:
  - url: http://traceit-04-i.comp.nus.edu.sg/tracer/api
info:
  title: ''
  version: ''
paths:
  /auth/user:
    get:
      operationId: retrieveUser
      description: ''
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
      tags:
      - auth
    put:
      operationId: updateUser
      description: ''
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
      tags:
      - auth
    patch:
      operationId: partialUpdateUser
      description: ''
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
      tags:
      - auth
  /api/researchs:
    get:
      operationId: listResearchdatas
      description: ''
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Researchdata'
          description: ''
      tags:
      - api
  /api/researchs/{gender}&{vaccines}:
    get:
      operationId: retrieveResearchdata
      description: ''
      parameters:
      - name: gender
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: vaccines
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Researchdata'
          description: ''
      tags:
      - api
  /auth/register:
    post:
      operationId: createRegistration
      description: Return user response after a successful registration.
      parameters: []
      requestBody:
        content:
          application/json:
            schema: {}
          application/x-www-form-urlencoded:
            schema: {}
          multipart/form-data:
            schema: {}
      responses:
        '201':
          content:
            application/json:
              schema: {}
          description: ''
      tags:
      - auth
  /auth/login:
    post:
      operationId: createLogin
      description: Return user after login.
      parameters: []
      requestBody:
        content:
          application/json:
            schema: {}
          application/x-www-form-urlencoded:
            schema: {}
          multipart/form-data:
            schema: {}
      responses:
        '201':
          content:
            application/json:
              schema: {}
          description: ''
      tags:
      - auth
  /auth/logout:
    post:
      operationId: createLogout
      description: Validate token and save.
      parameters: []
      requestBody:
        content:
          application/json:
            schema: {}
          application/x-www-form-urlencoded:
            schema: {}
          multipart/form-data:
            schema: {}
      responses:
        '201':
          content:
            application/json:
              schema: {}
          description: ''
      tags:
      - auth
  /auth/totp:
    post:
      operationId: createValidateTOTP
      description: ''
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateTOTP'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ValidateTOTP'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ValidateTOTP'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateTOTP'
          description: ''
      tags:
      - auth
  /auth/totp/register:
    post:
      operationId: createRegisterTOTP
      description: Validate token and save.
      parameters: []
      requestBody:
        content:
          application/json:
            schema: {}
          application/x-www-form-urlencoded:
            schema: {}
          multipart/form-data:
            schema: {}
      responses:
        '201':
          content:
            application/json:
              schema: {}
          description: ''
      tags:
      - auth
  /auth/refresh:
    post:
      operationId: createTokenRefresh
      description: 'Takes a refresh type JSON web token and returns an access type
        JSON web

        token if the refresh token is valid.'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRefresh'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenRefresh'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TokenRefresh'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRefresh'
          description: ''
      tags:
      - auth
components:
  schemas:
    User:
      type: object
      properties:
        username:
          type: string
          maxLength: 255
        email:
          type: string
          format: email
          maxLength: 254
        password:
          type: string
          writeOnly: true
          maxLength: 128
          minLength: 8
        phone_number:
          type: string
          maxLength: 15
        has_otp:
          type: boolean
          readOnly: true
      required:
      - username
      - email
      - password
      - phone_number
    Researchdata:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        dob:
          type: string
        gender:
          type: string
        postal_code:
          type: string
        list_of_vaccines:
          type: string
        last_close_contact:
          type: string
        last_infected_date:
          type: string
        total_infection:
          type: integer
          maximum: 9223372036854775807
          minimum: -9223372036854775808
          format: int64
          nullable: true
        total_close_contact_as_infected:
          type: integer
          maximum: 9223372036854775807
          minimum: -9223372036854775808
          format: int64
          nullable: true
        total_close_contact_with_infected:
          type: integer
          maximum: 9223372036854775807
          minimum: -9223372036854775808
          format: int64
          nullable: true
    ValidateTOTP:
      type: object
      properties:
        refresh:
          type: string
          readOnly: true
        access:
          type: string
          readOnly: true
        totp:
          type: string
          writeOnly: true
          pattern: ^\d{6}$
      required:
      - totp
    TokenRefresh:
      type: object
      properties:
        refresh:
          type: string
        access:
          type: string
          readOnly: true
      required:
      - refresh
